@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {padding-top: 30px;
  text-align: center;
  background-color:rgb(255, 255, 255); 
  height: 1000px;
  display: flex;
  justify-content: center;
  

}

button{
  border:none;
  color: rgb(7, 0, 0);
  padding: 15px,32px;
  text-align: center;
  font-size:30px;
  border-radius: 4px;
  margin: 4px 4px;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(106, 106, 155);
}
.operations{
  
  display: grid;
  grid-template-columns: auto auto auto;
  }

.operations button{
  background-color:rgb(248,0,64) ;
  
  color: rgb(255, 255, 255);
  

}
.operations .heighlight{
  background-color:rgb(8,74,94);
  padding: 10px 20px;
  grid-column:1/span 3;
  grid-row: 3;
  

}
.operand{
  width:200px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-self: center;
  left:50%;
  float:left;
  
}

.calc{
  vertical-align:middle;
  display: flex;
  flex-wrap: wrap;
  top:50%;
  left:50%;
  width:fit-content;
  text-align: center;
  background-color: rgb(10, 4, 44);
  justify-content: center;
  border-radius: 4px;  
  height: fit-content;
}
input{
  height:75px;
  margin:10px;
  margin-bottom: 0px;
  background-color: rgb(10, 4, 44);
  border: 0;
  color: aliceblue;
  text-align: right;
  padding:5px;
  width:fit-content;
  font-size:20px;
  
}

.keys{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#res{
  padding-top: 0;
  height:45px;
  text-align: center;
}